/* font face creation */
/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIOOaBXso.woff2) format("woff2");
}

/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIMeaBXso.woff2) format("woff2");
}

/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIOuaBXso.woff2) format("woff2");
}

/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIO-aBXso.woff2) format("woff2");
}

/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofINeaB.woff2) format("woff2");
}

/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIOOaBXso.woff2) format("woff2");
}

/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIMeaBXso.woff2) format("woff2");
}

/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIOuaBXso.woff2) format("woff2");
}

/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIO-aBXso.woff2) format("woff2");
}

/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofINeaB.woff2) format("woff2");
}

/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIOOaBXso.woff2) format("woff2");
}

/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIMeaBXso.woff2) format("woff2");
}

/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIOuaBXso.woff2) format("woff2");
}

/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIO-aBXso.woff2) format("woff2");
}

/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofINeaB.woff2) format("woff2");
}

/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIOOaBXso.woff2) format("woff2");
}

/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIMeaBXso.woff2) format("woff2");
}

/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIOuaBXso.woff2) format("woff2");
}

/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIO-aBXso.woff2) format("woff2");
}

/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofINeaB.woff2) format("woff2");
}

/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIOOaBXso.woff2) format("woff2");
}

/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIMeaBXso.woff2) format("woff2");
}

/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIOuaBXso.woff2) format("woff2");
}

/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIO-aBXso.woff2) format("woff2");
}

/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofINeaB.woff2) format("woff2");
}

/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIOOaBXso.woff2) format("woff2");
}

/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIMeaBXso.woff2) format("woff2");
}

/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIOuaBXso.woff2) format("woff2");
}

/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIO-aBXso.woff2) format("woff2");
}

/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofINeaB.woff2) format("woff2");
}

/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIOOaBXso.woff2) format("woff2");
}

/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIMeaBXso.woff2) format("woff2");
}

/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIOuaBXso.woff2) format("woff2");
}

/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIO-aBXso.woff2) format("woff2");
}

/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofINeaB.woff2) format("woff2");
}

/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIOOaBXso.woff2) format("woff2");
}

/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIMeaBXso.woff2) format("woff2");
}

/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIOuaBXso.woff2) format("woff2");
}

/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofIO-aBXso.woff2) format("woff2");
}

/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/XRXV3I6Li01BKofINeaB.woff2) format("woff2");
}

/* font face completed */
* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  color: #606060;
}

body {
  overflow-x: hidden !important;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

button,
input[type=submit] {
  padding: 5px 25px;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 700;
  line-height: 30px;
  border: 0;
}

.link {
  text-decoration: none;
}

.navbar-area {
  background-color: #fff;
  position: relative;
  padding: 5px 0;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
  border: none;
}

.navbar-area .navWrapper .container-fluid {
  padding: 0 40px;
}

.navbar-area .navWrapper .container-fluid .navbar .logo-wrapper {
  width: 140px;
}

.navbar-area .navWrapper .container-fluid .navbar .logo-wrapper img {
  max-width: 100%;
  height: auto;
}

.navbar-area .navWrapper .container-fluid .navbar .mean-menu .search-box {
  margin-left: 50px;
  position: relative;
  width: 350px;
  border-radius: 5px;
  margin-right: 10px;
}

.navbar-area .navWrapper .container-fluid .navbar .mean-menu .search-box .input-search {
  display: block;
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #0d3862;
  font-size: 16px;
  font-weight: 400;
  padding-left: 15px;
  padding-top: 1px;
  padding-bottom: 0;
  padding-right: 0;
  box-shadow: none;
  font-style: normal;
  font-family: "Nunito", sans-serif;
}

.navbar-area .navWrapper .container-fluid .navbar .mean-menu .search-box .input-search:focus-visible {
  outline: none;
}

.navbar-area .navWrapper .container-fluid .navbar .mean-menu .search-box button {
  position: absolute;
  right: 0;
  top: 0;
  height: 48px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 0 15px;
  color: #c4122f;
  background-image: none;
  border: none;
  box-shadow: none;
}

.navbar-area .navWrapper .container-fluid .navbar .mean-menu .navbar-nav {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
  width: 70%;
  justify-content: space-between;
}

.navbar-area .navWrapper .container-fluid .navbar .mean-menu .navbar-nav li a {
  color: #0d3862;
  font-size: 16.5px;
  font-weight: 700;
  padding: 25px 6px 25px 0;
  margin-right: 14px;
  position: relative;
}

.navbar-area .navWrapper .container-fluid .navbar .mean-menu .navbar-nav li a .arrow {
  font-size: 12px;
  position: absolute;
  right: -12px;
  top: 29px;
}

.navbar-area .navWrapper .container-fluid .navbar .mean-menu .navbar-nav li a:hover {
  color: #c4122f;
  background-color: transparent;
}

.navbar-area .navWrapper .container-fluid .navbar .mean-menu .navbar-nav li .dropdown-menu {
  border: none;
  top: 30px;
  left: 0;
  z-index: 99;
  opacity: 0;
  width: 290px;
  display: block;
  border-radius: 0;
  margin-top: 15px;
  position: absolute;
  padding: 0;
  visibility: hidden;
  background: #ffff;
  transition: all 0.2s ease-in-out;
  border-top: 3px solid #c4122f;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.navbar-area .navWrapper .container-fluid .navbar .mean-menu .navbar-nav li .dropdown-menu li a {
  padding: 13px 16px 11px;
  margin: 0;
  position: relative;
  display: block;
  border-bottom: 1px dashed #e5e5e5;
  color: #0d3862;
  font-size: 16px;
  font-weight: 700;
}

.navbar-area .navWrapper .container-fluid .navbar .mean-menu .navbar-nav li .dropdown-menu li a:hover {
  color: #c4122f;
  background-color: transparent;
}

.navbar-area .navWrapper .container-fluid .navbar .mean-menu .navbar-nav li .dropdown-menu li .new::after {
  content: "New";
  position: absolute;
  font-size: 8px;
  line-height: 1;
  color: #ffff;
  background-color: #ff0000;
  z-index: 1;
  pointer-events: none;
  border-radius: 2px;
  padding: 5px 6px 4.2px;
  margin: 3px 0 0 5px;
}

.navbar-area .navWrapper .container-fluid .navbar .mean-menu .navbar-nav li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  margin-top: 9px;
}

.navbar-area .navWrapper .container-fluid .navbar .others-option {
  margin-left: 25px;
}

.navbar-area .navWrapper .container-fluid .navbar .others-option .option-item {
  margin-left: 30px;
}

.navbar-area .navWrapper .container-fluid .navbar .others-option .option-item:first-child {
  margin-left: 0;
}

.navbar-area .navWrapper .container-fluid .navbar .others-option .option-item .cart-btn {
  font-size: 22px;
  position: relative;
  line-height: 1;
}

.navbar-area .navWrapper .container-fluid .navbar .others-option .option-item .cart-btn a {
  display: inline-block;
  position: relative;
  color: #0d3862;
}

.navbar-area .navWrapper .container-fluid .navbar .others-option .option-item .cart-btn a span {
  position: absolute;
  right: -4px;
  top: -4px;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  border-radius: 50%;
  color: #ffff;
  font-size: 10px;
  font-weight: 600;
  background-color: #c4122f;
}

.navbar-area .other-option-for-responsive {
  /* display: none; */
}

.navbar-area .other-option-for-responsive .container {
  position: relative;
}

.mean-bar {
  .option-item {
    a.default-btn {
      padding: 10px 20px !important;
    }
  }
}


.navbar-area .other-option-for-responsive .container .dot-menu {
  padding: 0 10px;
  height: 30px;
  cursor: pointer;
  z-index: 9991;
  position: absolute;
  right: 60px;
  top: -30px;
}

.navbar-area .other-option-for-responsive .container .dot-menu .inner {
  display: flex;
  align-items: center;
  height: 30px;
}

.navbar-area .other-option-for-responsive .container .dot-menu .inner .circle {
  height: 5px;
  width: 5px;
  border-radius: 100%;
  margin: 0 2px;
  transition: 0.5s;
  background-color: #0d3862;
}

.navbar-area .other-option-for-responsive .container .container {
  position: absolute;
  right: 0;
  top: 20px;
  max-width: 320px;
  margin-left: auto;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  transform: scaleX(0);
  z-index: 3;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-area .other-option-for-responsive .container .container .option-inner .active {
  padding: 15px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.09);
  display: block !important;
  background-color: #ffff;
}

.navbar-area .other-option-for-responsive .container .container .option-inner .search-box {
  position: relative;
  border-radius: 5px;
}

.navbar-area .other-option-for-responsive .container .container .option-inner .search-box .input-search {
  display: block;
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  transition: 0.5s;
  color: #0d3862;
  font-size: 16px;
  font-weight: 400;
  padding-left: 15px;
  padding-top: 1px;
  padding-bottom: 0;
  padding-right: 0;
}

.navbar-area .other-option-for-responsive .container .container .option-inner .search-box button {
  position: absolute;
  right: 0;
  top: 0;
  height: 48px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 0 15px;
  color: #c4122f;
}

.navbar-area .other-option-for-responsive .container .container .option-inner .others-option {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 15px;
}

.navbar-area .other-option-for-responsive .container .container .option-inner .others-option .option-item {
  margin-left: 30px;
}

.navbar-area .other-option-for-responsive .container .container .option-inner .others-option .option-item:first-child {
  margin-left: 0;
}

.navbar-area .other-option-for-responsive .container .container .option-inner .others-option .option-item .cart-btn {
  font-size: 22px;
  position: relative;
  line-height: 1;
}

.navbar-area .other-option-for-responsive .container .container .option-inner .others-option .option-item .cart-btn a {
  display: inline-block;
  position: relative;
  color: #0d3862;
}

.navbar-area .other-option-for-responsive .container .container .option-inner .others-option .option-item .cart-btn a span {
  position: absolute;
  right: -4px;
  top: -4px;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  border-radius: 50%;
  color: #ffff;
  font-size: 10px;
  font-weight: 600;
  background-color: #c4122f;
}

.navbar-area .other-option-for-responsive .container .active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar-area .resonsive-nav .container .mean-container .mean-bar {
  float: left;
  width: 100%;
  position: absolute;
  background: transparent;
  padding: 0 0 0;
  z-index: 999;
}

.navbar-area .resonsive-nav .container .mean-container .mean-bar .meanmenu-reveal {
  width: 35px;
  height: 30px;
  position: absolute;
  right: 0;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  text-indent: -9999em;
  line-height: 22px;
  font-size: 1px;
  display: block;
  font-weight: 700;
  padding-top: 0;
}

.navbar-area .resonsive-nav .container .mean-container .mean-bar .meanmenu-reveal span {
  display: block;
  background: #000;
  height: 3px;
  margin-top: 4px;
  border-radius: 3px;
}

.navbar-area .resonsive-nav .container .mean-container .mean-bar .close {
  text-align: center;
  text-indent: 0px;
  font-size: 18px;
}

.navbar-area .resonsive-nav .container .mean-container .mean-bar .mean-nav .search-box {
  position: relative;
  border-radius: 5px;
}

.navbar-area .resonsive-nav .container .mean-container .mean-bar .mean-nav .search-box .input-search {
  display: block;
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  transition: 0.5s;
  color: #0d3862;
  font-size: 16px;
  font-weight: 400;
  padding-left: 15px;
  padding-top: 1px;
  padding-bottom: 0;
  padding-right: 0;
}

.navbar-area .resonsive-nav .container .mean-container .mean-bar .mean-nav .search-box button {
  position: absolute;
  right: 0;
  top: 0;
  height: 48px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 0 15px;
  color: #c4122f;
}

.navbar-area .resonsive-nav .container .mean-container .mean-bar .mean-nav .others-option {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 15px;
}

.navbar-area .resonsive-nav .container .mean-container .mean-bar .mean-nav .others-option .option-item {
  margin-left: 30px;
}

.navbar-area .resonsive-nav .container .mean-container .mean-bar .mean-nav .others-option .option-item:first-child {
  margin-left: 0;
}

.navbar-area .resonsive-nav .container .mean-container .mean-bar .mean-nav .others-option .option-item .cart-btn {
  font-size: 22px;
  position: relative;
  line-height: 1;
}

.navbar-area .resonsive-nav .container .mean-container .mean-bar .mean-nav .others-option .option-item .cart-btn a {
  display: inline-block;
  position: relative;
  color: #0d3862;
}

.navbar-area .resonsive-nav .container .mean-container .mean-bar .mean-nav .others-option .option-item .cart-btn a span {
  position: absolute;
  right: -4px;
  top: -4px;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  border-radius: 50%;
  color: #ffff;
  font-size: 10px;
  font-weight: 600;
  background-color: #c4122f;
}

.navbar-area .resonsive-nav .container .mean-container .mean-bar .mean-nav ul {
  padding: 0;
  margin: 0 !important;
  width: 100%;
  border: none;
  list-style-type: none;
}

.navbar-area .resonsive-nav .container .mean-container .mean-bar .mean-nav ul li {
  position: relative;
  float: left;
  width: 100%;
}

.navbar-area .resonsive-nav .container .mean-container .mean-bar .mean-nav ul li a {
  color: #0d3862;
  text-transform: capitalize;
  display: block;
  float: left;
  width: 100%;
  padding: 1em 5% 13px;
  margin: 0;
  text-align: left;
  border-top: 1px solid #DBEEFD;
  text-decoration: none;
  white-space: nowrap;
}

.navbar-area .resonsive-nav .container .mean-container .mean-bar .mean-nav ul li .mean-expand {
  margin-top: 1px;
  width: 20%;
  height: 24px;
  padding: 11px !important;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  font-weight: 500;
  background: transparent;
  border: none !important;
}

.navbar-area .resonsive-nav .container .mean-container .mean-bar .mean-nav ul li ul li a {
  width: 100%;
  padding: 1em 10% 13px;
  color: #677294;
  border-top: 1px solid #DBEEFD;
  opacity: 1;
  filter: alpha(opacity=75);
  text-shadow: none !important;
  visibility: visible;
  text-transform: none;
}

.navbar-area .resonsive-nav .container .mean-container .mean-bar .mean-nav ul li ul li .new::after {
  content: "New";
  position: absolute;
  font-size: 8px;
  line-height: 1;
  color: #ffff;
  background-color: #ff0000;
  z-index: 1;
  pointer-events: none;
  border-radius: 2px;
  padding: 5px 6px 4.2px;
  margin: 3px 0 0 5px;
}

.navbar-area .resonsive-nav .container .mean-container .logo img {
  width: 130px;
}

.is-sticky {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  top: 0;
}

.active {
  color: #c4122f !important;
  background-color: transparent !important;
}

.default-btn {
  border: none;
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  color: #ffff !important;
  transition: 0.5s;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  padding-left: 55px;
  padding-right: 30px;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #c4122f;
}

.default-btn i {
  position: absolute;
  left: 30px;
  top: 13px;
  color: #fff;
}

.default-btn .effect {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #0d3862;
  -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 5px;
}

.default-btn:hover {
  color: #ffff;
}

.default-btn:hover .effect {
  width: 225%;
  height: 562.5px;
}

.secondary {
  display: flex;
  align-items: center;
}

.headerWrapper {
  height: 84px;
}

.menu-title {
  display: flex;
  align-items: center;
  margin-right: 9px;
}

a {
  text-decoration: none;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar-area .navWrapper .container-fluid {
    /* max-width: 1170px; */
    padding-left: 15px;
    padding-right: 75px;
  }

  .navbar-area .navWrapper .container-fluid .navbar .mean-menu .search-box,
  .navbar-area .navWrapper .container-fluid .navbar .others-option {
    /* display: none !important; */
  }

  .navbar-area .navWrapper .container-fluid .navbar .mean-menu .navbar-nav {
    width: 100%;
    margin-left: auto;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
  }

  .navbar-area .other-option-for-responsive {
    /* display: block; */
  }

  .navbar-area .other-option-for-responsive .container {
    max-width: 1200px;
  }

  .navbar-area .other-option-for-responsive .container .dot-menu {
    right: 35px;
    bottom: 7px;
    top: auto;
    padding-right: 0;
  }

  .navbar-area .other-option-for-responsive .container .container {
    top: 5px;
  }
}

@media only screen and (max-width: 1199px) {
  .mean-container {
    position: relative;
  }

  nav.mean-nav {
    margin-top: 47px;
  }

  .navbar-area {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .mean-nav ul {
    font-size: 15px;
  }

  .navbar-nav {
    overflow-y: scroll;
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    height: 307px;
  }

  .resonsive-nav.d-none {
    display: block !important;
  }

  .navWrapper {
    display: none;
  }

  .navbar-area .other-option-for-responsive {
    display: block;
  }

  .mean-container .logo {
    position: relative;
    width: 70%;
    z-index: 999;
  }

  nav.mean-nav .others-option {
    position: absolute;
    right: 55px;
    /* display: none !important; */
    top: -10px;
  }

  nav.mean-nav .search-box {
    display: none !important;
    position: absolute;
    right: 350px;
    top: -11px;
    width: 270px;
    border-radius: 5px;
  }

  .navbar-area .resonsive-nav .container .mean-container .mean-bar .mean-nav .navbar-nav {
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    height: 307px;
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-area .resonsive-nav {
    display: block !important;
  }

  .navbar-area .navWrapper,
  .navbar-area .other-option-for-responsive {
    display: none;
  }

  .resonsive-nav .container {
    max-width: 960px;
  }

  .resonsive-nav .container .mean-container {
    position: relative;
  }

  .navbar-area .resonsive-nav .container .mean-container .mean-bar .meanmenu-reveal {
    color: #0d3862;
  }

  .navbar-area .resonsive-nav .container .mean-container .mean-bar .meanmenu-reveal span {
    background: #0d3862;
  }

  .navbar-area {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .navbar-area .resonsive-nav .container .mean-container .mean-bar .mean-nav {
    margin-top: 50px;
  }

  .navbar-area .resonsive-nav .container .mean-container .mean-bar .mean-nav .search-box {
    position: absolute;
    right: 350px;
    top: -11px;
    width: 270px;
    border-radius: 5px;
    display: block !important;
  }

  .navbar-area .resonsive-nav .container .mean-container .mean-bar .mean-nav .others-option {
    position: absolute;
    right: 55px;
    top: -11px;
    margin-top: 0;
    display: flex !important;
  }

  .navbar-area .resonsive-nav .container .mean-container .mean-bar .mean-nav ul {
    font-size: 16px;
  }

  .navbar-area .resonsive-nav .container .mean-container .mean-bar .mean-nav .navbar-nav {
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    height: 307px;
    overflow-y: scroll;
  }

  .navbar-area .resonsive-nav .container .mean-container .mean-bar .mean-nav ul li a {
    font-size: 15.5px;
  }

  .resonsive-nav .container .mean-container .logo {
    width: 25%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  .navbar-area .resonsive-nav,
  .navbar-area .other-option-for-responsive {
    display: block !important;
  }

  /* .navbar-area .resonsive-nav .container .mean-container .mean-bar .mean-nav .search-box,
  .navbar-area .resonsive-nav .container .mean-container .mean-bar .mean-nav .others-option,
  .navbar-area .navWrapper {
    /* display: inline-flex !important */
  /* } */

  .mean-container {
    position: relative;
  }

  .navbar-area .other-option-for-responsive .container .dot-menu {
    top: -27px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-area {
    box-shadow: 0px 1px 7px -1px #00000047;
  }

  .container {
    max-width: 100%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 540px;
  }

  .navbar-area .other-option-for-responsive .container .dot-menu {
    top: -10px;
  }
}

.headerWrapper {
  height: 100% !important;
}

.user-icon {
  display: inline !important;
  fill: #fff;
  margin-top: 3px;
  margin-right: 5px;
}

.others-option.d-flex.align-items-center {
  .option-item {
    a.link.default-btn.d-flex {
      display: flex;
      padding: 10px 23px !important;
    }
  }

}


.manu-span {
  font: bold;
  font-weight: bolder;
}

.link.menu-dropdown {
  color: #0d3862;
}

.link.menu-dropdown.active {
  color: #c4122f;
}


@media (max-width:577px) {
  .other-option-for-responsive {
    .container {
      .dot-menu {
        position: absolute;
        right: 17px !important;
        top: -14px !important;
      }
    }
  }
}

ul.list-unstyled.navbar-nav.ml-auto {
  background: #fff !important;
}

.dot-menu .inner {
  cursor: pointer !important;
}

.container.active .option-inner .others-option.d-flex.align-items-center .option-item a.link.default-btn {
  padding: 10px;
  font-size: 14px;
}